<div data-role="page" id="codesPage">
    <div class="panel panel-success" ng-repeat="item in list">
        <div class="panel-heading">
            <div class="pull-right"><span class="badge text-info">{{$index}}</span></div>
            <h3 class="panel-title"><a href="{{item.link}}">{{item.name}}</a></h3>
        </div>
        <div class="panel-body">
            <strong>Description</strong>
            <ul>
                <li ng-repeat="desc in item.description">{{desc}}</li>
            </ul>
            <strong>License</strong>
            <ul>
                <li>{{item.license}}</li>
            </ul>
            <strong>Lanuage</strong>
            <ul>
                <li ng-repeat="lang in item.lanuage">{{lang}}</li>
            </ul>
        </div>
    </div>

  </div><!-- /.codesPage -->