<div data-role="page" id="contactPage">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="contactName">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-4">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="contactEmail">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNumber" class="col-lg-2 control-label">Phone</label>
            <div class="col-lg-4">
                <input type="tel" class="form-control" id="inputNumber" placeholder="Phone Number" ng-model="contactPhone">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <textarea class="form-control" rows="3" id="textComments" placeholder="Write something" ng-model="contactComment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <button type="button" class="btn btn-primary" ng-disabled="IsInvalid()" ng-click="contact()">Send</button>
            </div>
        </div>
    </form>
    

    <div id="notifyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="succModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <h4>{{notifyContext}}</h4>

              </div><!-- /.modal-body -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div> 

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div><!-- /.contactPage -->