{{#list}}
<tr>
    <td><input type="checkbox"></td>
    <td><a>{{name}}</a></td>
    <td>{{id}}</td>
    <td>{{high52}}({{chgHigh52}} {{chgPreHigh52}})</td>
    <td>{{low52}}({{chgLow52}} {{chgPreLow52}})</td>
    <td>{{movAvg200}}({{chgMovAvg200}} {{chgPreMovAvg200}})</td>
    <td>{{movAvg50}}({{chgMovAvg50}} {{chgPreMovAvg50}})</td>
</tr>
{{/list}}