{{#list}}
<tr>
    <td>{{date}}</td>
    <td style="color:{{color}}">{{close}}</td>
    <td style="color:{{color}}">{{growth}}</td>
    <td>{{exchange}}</td>
    <td>{{in}}</td>
    <td>{{out}}</td>
    <td style="color:{{netincolor}}">{{netin}}</td>
    <td>{{largein}}</td>
    <td>{{largeout}}</td>
    <td style="color:{{largenetincolor}}">{{largenetin}}</td>
</tr>
{{/list}}
