<table class="table table-condensed table-hover table-striped table-bordered">
    <thead>
        <tr class="info">
            <th>时间</th>
            <th>成交价(元)</th>
            <th>价格变动(元)</th>
            <th>成交量(手)</th>
            <th>成交额(元)</th>
            <th>性质</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>