<div class="row-fluid">
    <div class="span9" >
        <br/>
        <!--
        <span class="label label-info">范围</span>
        -->
        <div class="form-inline">
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn" data-command="range" data-value="1d">日K</button>
                <button type="button" class="btn" data-command="range" data-value="5d">周K</button>
                <!--
                <button type="button" class="btn" data-command="range" data-value="1m">1m</button>
                -->
                <button type="button" class="btn" data-command="range" data-value="3m">三月</button>
                <button type="button" class="btn" data-command="range" data-value="6m">六月</button>
                <button type="button" class="btn" data-command="range" data-value="1y">一年</button>
                <!--
                <button type="button" class="btn" data-command="range" data-value="2y">2y</button>
                <button type="button" class="btn" data-command="range" data-value="5y">5y</button>
                <button type="button" class="btn" data-command="range" data-value="max">max</button>
                -->
            </div>
            <select>
                <option value="">选择技术参数</option>
                <option value="macd">MACD</option>
                <option value="mfi">MFI</option>
                <option value="roc">ROC</option>
                <option value="rsi">RSI</option>
                <option value="ss">Slow Stoch</option>
                <option value="fs">Fast Stoch</option>
                <option value="vol">Vol</option>
                <option value="volma">Vol+MA</option>
                <option value="wr">W%R</option>
            </select>
        </div>
        <br/>
        <form class="form-inline">
            <input type="text"  placeholder="stock" data-provide="typeahead" data-items="8">
            <label class="checkbox">
                <input type="checkbox" value="000001.SS">上证指数
            </label>
            <label class="checkbox">
                <input type="checkbox" value="399001">深成指
            </label>
            <button type="submit" class="btn">比较</button>

        </form>


        <img id="stockTodayChart"> </img>
    </div><!-- row span8-->

    <div class="span3" >
        <table class="table table-striped table-bordered">
            <tbody id="stockRealTradeTable">
            <tbody>
        </table>
    </div><!-- row span4-->
</div> <!-- row-->
