<tr>
    <td>卖五</td>
    <td>{{sell5}}</td>
    <td>{{sell5Num}}</td>
</tr>
<tr>
    <td>卖四</td>
    <td>{{sell4}}</td>
    <td>{{sell4Num}}</td>
</tr>
<tr>
    <td>卖三</td>
    <td>{{sell3}}</td>
    <td>{{sell3Num}}</td>
</tr>
<tr>
    <td>卖二</td>
    <td>{{sell2}}</td>
    <td>{{sell2Num}}</td>
</tr>
<tr>
    <td>卖一</td>
    <td>{{sell1}}</td>
    <td>{{sell1Num}}</td>
</tr>
<tr>
    <td>当前价</td>
    <td>{{price}}</td>
</tr>
<tr>
    <td>买一</td>
    <td>{{buy1}}</td>
    <td>{{buy1Num}}</td>
</tr>
<tr>
    <td>买二</td>
    <td>{{buy2}}</td>
    <td>{{buy2Num}}</td>
</tr>
<tr>
    <td>买三</td>
    <td>{{buy3}}</td>
    <td>{{buy3Num}}</td>
</tr>
<tr>
    <td>买四</td>
    <td>{{buy4}}</td>
    <td>{{buy4Num}}</td>
</tr>
<tr>
    <td>买五</td>
    <td>{{buy5}}</td>
    <td>{{buy5Num}}</td>
</tr>
      