<!doctype html>
<html lang="en" ng-app="hapiImage">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi">

  <title>哈皮看客</title>
  
  <link rel="stylesheet" href="libs/debug/bootstrap-3.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="libs/debug/jquery-1.9.1.js"></script>
  <script src="libs/debug/bootstrap-3.0.0/dist/js/bootstrap.js"></script>
  <script src="libs/debug/galleria/galleria-1.2.9.js"></script>
  <link rel="stylesheet" href="libs/debug/galleria/themes/classic/galleria.classic.css">
  <script src="libs/debug/galleria/themes/classic/galleria.classic.min.js"></script>
  
  <link rel="stylesheet" href="libs/debug/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="libs/debug/fancybox/jquery.fancybox.pack.js"></script>
  
  <script src="libs/debug/angular/angular.js"></script>
  <script src="libs/debug/angular/angular-route.js"></script>
  <script src="libs/debug/cordova-2.2.0.js"></script>
  <script src="libs/debug/sniff.js"></script>
  <script src="libs/debug/virtualtouch.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  
</head>
<body ng-controller="MainCntl">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/index">首页</a></li>
        <li><a href="#/tag?tag1=明星">明星</a></li>
        <li><a href="#/tag?tag1=美女">美女</a></li>
        <li><a href="#/tag?tag1=搞笑">搞笑</a></li>
        <li><a href="#/news">资讯</a></li>
        <li class="visible-md visible-lg"><a href="#/tag?tag1=动漫">动漫</a></li>
        <li class="visible-md visible-lg"><a href="#/tag?tag1=宠物">宠物</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="visible-sm visible-xs"><a href="#/tag?tag1=动漫">动漫</a></li>
              <li class="visible-sm visible-xs"><a href="#/tag?tag1=宠物">宠物</a></li>
              <li><a href="#/tag?tag1=摄影">摄影</a></li>
              <li><a href="#/tag?tag1=设计">设计</a></li>
              <li><a href="#/tag?tag1=旅游">旅游</a></li>
              <li><a href="#/tag?tag1=汽车">汽车</a></li>
              <li><a href="#/tag?tag1=家居">家居</a></li>
              <li><a href="#/tag?tag1=美食">美食</a></li>
              <li>
                <a data-toggle="modal" href="#contactModal">联系作者</a>
              </li>
              

            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div ng-view></div>

    <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" idonated="contactModalLabel">这里可以联系到作者,您可以提点建议也可以吐槽一下^_^</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>
                此软件免费,如果你觉得还不错,求捐赠x元! 捐赠方式可以这里联系作者.
                <br>如果已捐赠,请忽略!
              </strong>
            </div>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="contactName">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="contactEmail">
                </div>
              </div>
              <div class="form-group">
                <label for="inputNumber" class="col-lg-2 control-label">电话</label>
                <div class="col-lg-10">
                  <input type="tel" class="form-control" id="inputNumber" placeholder="Phone Number" ng-model="contactPhone">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <textarea class="form-control" rows="3" id="textComments" placeholder="写点啥吧" ng-model="contactComment"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="contact()">发送</button>
                </div>
              </div>
            </form>


          </div>
    

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="succModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="succModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

  
          <div class="modal-body">
            <h4>{{notifyContext}}</h4>

          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div> 

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<!--
  <div class="panel panel-default"> 
      <div class="panel-body">
          <pre>$location.path() = {{$location.path()}}</pre>
          <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
          <pre>$route.current.params = {{$route.current.params}}</pre>
          <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
          <pre>$routeParams = {{$routeParams}}</pre>
      </div>
  </div>  
-->
</body>
</html>
