
<div class="row">
    <div class="span3" >
        <ul class="nav nav-list" >
            <div class="accordion" data-role="pagemenu" id="#{{pageMenuID}}">
            </div>
        </ul>
    </div><!-- row span3-->

    <div class="span11">
        <div data-role="tophalf">
        </div><!-- /tophalf -->

        <div data-role="panels">
        </div>
    </div><!-- row span9-->
</div> <!-- row-->
