<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{pageMenuID}}" href="#{{menuGroupID}}">
          {{title}}
        </a>
    </div>
    <div id="{{menuGroupID}}" class="accordion-body collapse in">
        <div class="accordion-inner">
            <ul class="nav nav-list menu">
            </ul>
        </div>
    </div>
</div>