<div class="navbar  navbar-inverse" style="position: static;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">title</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav" data-role="mainmenu">
                        <!-- append menuItemTmpl here-->
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#">Login</a></li>
                </ul>

            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->



