{{#list}}
<tr>
    <td><input type="checkbox"></td>
    <td data-value={{id}}><a>{{name}}</a></td>
    <td>{{id}}</td>
    <td style="color:{{color}}">{{price}}({{growth}}%)</td>
    <td>{{open}}</td>
    <td>{{preclose}}</td>
    <td>{{high}}</td>
    <td>{{low}}</td>
    <td>{{volMoney}}</td>
    <td>{{volume}}</td>
</tr>
{{/list}}