<div >
    <ul class="nav nav-tabs">
      <li data-value="baseTab" class="active"><a href="#baseTab" data-toggle="tab">实时行情</a></li>
      <li data-value="priceTab"><a href="#priceTab" data-toggle="tab">历史价格</a></li>
      <span class="badge badge-success" id="tagLabel">Default</span>
    </ul>
    <div class="btn-group">
        <button class="btn" id ="compareBtn">比较</button>
        <button class="btn" id ="deleteBtn">删除</button>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="baseTab">
            <table class="table table-condensed table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <td><input type="checkbox"></td>
                        <th>股票名称</th>
                        <th>股票代码</th>
                        <th>当前价格</th>
                        <th>开盘价</th>
                        <th>昨日收盘价</th>
                        <th>最高价</th>
                        <th>最低价</th>
                        <th>成交股票数</th>
                        <th>成交金额</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="priceTab">
            <table class="table table-condensed table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>股票名称</th>
                        <th>股票代码</th>
                        <th>52周最高价</th>
                        <th>52周最低价</th>
                        <th>200天平均价格</th>
                        <th>50天平均价格</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>