{{#list}}
<tr>
      <td><input type="checkbox"></td>
      <td data-value={{id}}><a>{{name}}</a></td>
      <td>{{id}}</td>
      <td class="price"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
</tr>
{{/list}}