{{#list}}
<tr>
    <td>{{date}}</td>
    <td style="color:#FF0000">{{price}}</td>
    <td>{{gap}}</td>
    <td>{{num}}</td>
    <td>{{total}}</td>
    <td style="color:{{color}}">{{type}}</td>
</tr>
{{/list}}