{{#list}}
<tr>
    <td>{{date}}</td>
    <td>{{open}}</td>
    <td>{{high}}</td>
    <td>{{low}}</td>
    <td>{{close}}</td>
    <td style="color:{{color}}">{{gap}}</td>
    <td style="color:{{color}}">{{growth}}</td>
    <td>{{volume}}</td>
    <td>{{turnover}}</td>
    <td>{{amp}}</td>
    <td>{{exchange}}</td>
</tr>
{{/list}}
