<div class="docs-example">
    <form class="form-inline" >
        <Strong class="stock-title">{{lname}}({{t}})</Strong>
        <span class="label">{{lt}}</span>
        <button type="button" class="btn stock-add-btn"  data-toggle="modal" >+自选</button>
    </form>
    <table class="mytable table-bordered">
        <tbody>
            <tr class="success">
                <td style="color:{{color}}">
                    <strong>当前 </strong>{{l}}
                    <br />
                    <strong>涨跌 </strong>
                    {{c}} ({{cp}}%)
                </td>
                <td>
                    <strong>今开   </strong>{{op}}
                    <br />
                    <strong>市盈率 </strong>{{pe}}
                </td>

                <td>
                    <strong>最高 </strong>{{hi}}
                    <br />
                    <strong>最低 </strong>{{lo}}
                </td>
                <td>
                    <strong>52周 </strong>{{lo52}} - {{hi52}}
                    <br />
                    <strong>股份 </strong>{{shares}}
                </td>
                <td>
                    <strong>每股收益 </strong>{{eps}}
                    <br />
                    <strong>成交量  </strong>{{vo}}
                </td>
            </tr>
        </tbody>
    </table>
</div>