<br/>
<div class="form-inline">
    <select id="historyDealYear">
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
    </select>

    <select id="historyDealSeason">
        <option value="1">一季度</option>
        <option value="2">二季度</option>
        <option value="3">三季度</option>
        <option value="4">四季度</option>
    </select>
    <button class="btn" id="historyDealQuery">查询</button>
</div>
<table class="table table-condensed table-hover table-striped table-bordered">
    <thead>
        <tr class="info">
            <th>日期</th>
            <th>开盘价</th>
            <th>最高价</th>
            <th>最低价</th>
            <th>收盘价</th>
            <th>涨跌额</th>
            <th>涨跌幅(%)</th>
            <th>成交量(手)</th>
            <th>成交金额(万元)</th>
            <th>振幅(%)</th>
            <th>换手率(%)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>