<div class="navbar  navbar-inverse" style="position: static;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">哈皮炒股</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav" data-role="mainmenu">
                        <!-- append menuItemTmpl here-->
                </ul>
                <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search" data-provide="typeahead" data-items="4">
                      <input type="submit" value="确定" class="btn btn-inverse"/>
                </form>
                <!--
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#">Login</a></li>
                </ul>
                -->
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->



