
<div class="row">
    <div class="span3" >
        <div>
        <ul class="nav nav-list bs-docs-sidenav" data-role="pagemenu" >
        </ul>
        </div>
    </div><!-- row span3-->

    <div class="span11">
        <div data-role="tophalf">
        </div><!-- /tophalf -->
        <div data-role="bottomhalf">
            <div data-role="panels">
            </div>
        </div><!-- /bottomhalf -->
    </div><!-- row span9-->
</div> <!-- row-->
