<div data-role="page" id="newsPage">

    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="btn-group">
        <div class="btn-group">
          <button class="btn btn-default" type="button" ng-repeat="item in getTag2List()" ng-click="setTag2(item.name)">{{item.name}}</button>
        </div>

      </div>
    </div>
    <br>
    <br>
    <div id="newsList">
      <ui class="list-group">
        <li ng-repeat="item in newsList.data" class="list-group-item" ng-show="data[item.id]" ng-click="openLightbox(data[item.id])">
          
              <img src="{{data[item.id].data[0].obj_url}}" style="width:100px;height:100px" ></img>
              <!--
              <img class="lazy" data-src="{{data[item.id].data[0].obj_url}}" src="" border="0" style="width:100px;height:100px" alt="Lazy Image" />
              -->
              <span class="text-center" style="font-size:24">{{data[item.id].data[0].title}}</span>

              <span class="badge text-info">{{$index}}</span>
              <span class="badge text-right text-info">{{data[item.id].data.length}}张图片</span>
        </li>
      </ui>
      <!--
      <div class="container">
      <button type="button" class="btn btn-primary" ng-show="newsList.data.length>0" style="margin:0 auto">更多精彩</button>
      </div>
      -->
    </div>
    

  </div><!-- /.newsPage -->